.error {
  color: #5a5c69;
  font-size: 7rem;
  /* justify-content: center; */
  /* position: absolute; */
  /* left:500; */
  line-height: 1;
  margin-left: 100px;
  width: 12.5rem;
  text-align: center;
}
.notFoundText {
  color: #5a5c69;
  font-weight: 300;
  font-size: 1.25rem;
}
.glitchText {
  color: #b7b9cc;
}
.NotFoundDiv {
  text-align: center;
  /* position: relative; */
}
